<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <p>Folders:</p>
    <form action="/addFolder" method="post">
        <label for="folderName">Folder name:
            <input type="text" id="folderName" name="folderName" /></label>
        <button type="submit">Create Folder</button>
    </form>
    <% if(locals.folders) {%>
        <p>Folders:</p>
        <ul>
            <% locals.folders.map(folder=>
                { %>
                <li id=" <%=folder.id %>" style="
                        margin: 16px;
                        background-color: rgb(204, 204, 204);
                        display: flex;
                        width: min-content;
                        flex-direction: column;
                        flex: 0;
                        padding: 8px;
                        border-radius: 8px;
                        ">
                    <p style="margin: 4px 4px">Folder:</p>
                    <div style="
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 8px;
                    ">
                        <form action="file-manager/update" method="post">
                            <input type="hidden" name="id" value="<%= folder.id %>" />
                            <label for="title">
                                <input type="text" name="title" value="<%= folder.title %>" />
                            </label>
                            <button type="submit">Save</button>
                        </form>
                        <form action="file-manager/delete" method="post">
                            <input type="hidden" name="id" value="<%= folder.id %>" />
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <form style="display: flex" action="/upload" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="id" value="<%= folder.id %>" />
                        <input type="file" name="upload-file" />
                        <button type="submit">Upload</button>
                    </form>
                    <p style="margin-top: 8px; margin-bottom: 0px;">Files:</p>
                    <ul>
                        <% folder.files.map((file)=> { %>
                            <li>
                                <form style="display: flex; justify-content: space-between; margin: 8px 0;"
                                    action="/file-manager/file/delete" method="post">
                                    <input type="hidden" name="id" value="<%= file.id %>">
                                    <input type="hidden" name="url" value="<%= file.url %>">
                                    <%= file.title %>
                                        <a href="<%= file.filename %>" download="<%= file.title %>">Download</a>
                                        <button type="submit">Delete</button>
                                </form>
                            </li>
                            <%}) %>
                    </ul>
                </li>
                <% }) %>
        </ul>
        <% }%>
</body>

</html>